{% extends 'core/base.html' %}

{% block title %}Pedidos - Administración - Vive Sano{% endblock %}

    {% block content %}
    <div class="container">
    <div class="container"></div>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary"

   style="
        display: inline-flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        color: #000000b3;
        font-weight: 600;
        margin-bottom: 1rem;
   ">
    ← Volver
    </a>
            <div>
                <h1 class="admin-title">Pedidos</h1>
                <p class="admin-subtitle">
                Gestiona los pedidos de los clientes de Vive Sano.
                </p>
            </div>


            {% if pedidos %}
            <div class="admin-table-wrapper">
                <table class="admin-table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Total_pagado</th>
                    <th>Cliente</th>
                    <th style="width:140px;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pedidos %}
                    <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.creado}}</td>
                       <td>
                            {% if request.user.tipo_cliente == "admin" %}
                                <!-- Admin SÍ puede editar -->
                                <form method="POST" action="{% url 'editar_estado_pedido' p.id %}">
                                    {% csrf_token %}
                                    <select name="estado" onchange="this.form.submit()">
                                        {% for value, label in p.ESTADOS %}
                                            <option value="{{ value }}" {% if p.estado == value %}selected{% endif %}>
                                                {{ label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </form>
                            {% else %}
                                <!-- Atención al cliente o cualquier otro solo lo ve -->
                                {{ p.get_estado_display }}
                            {% endif %}
                        </td>


                    <td>${{ p.total}}</td>
                    <td>{{ p.usuario }}</td>
                    <td>
                        {% if p.activo %}
                        <span class="badge-status badge-ok">Activo</span>
                        {% else %}
                        <span class="badge-status badge-off">Inactivo</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_pedido' p.id %}" class="admin-link">
                        Ver Detalle
                        </a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            {% else %}
            <p>No hay pedidos registrados.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
