{% extends 'core/base.html' %}

{% block title %}Carrito de compras - Vive Sano{% endblock %}

{% block content %}
<div class="container">
<div class="container"></div>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary"

   style="
        display: inline-flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        color: #000000b3;
        font-weight: 600;
        margin-bottom: 1rem;
   ">
    ← Volver
    </a>
<div class="container">

    <h2>Mis pedidos</h2>

    {% if pedidos %}
    <table class="cart-table">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
            <th></th>
        </tr>

        {% for pedido in pedidos %}
        <tr>
            <td>#{{ pedido.id }}</td>
            <td>{{ pedido.creado }}</td>
            <td>{{ pedido.get_estado_display }}</td>
            <td>${{ pedido.total }}</td>
            <td>
                <a href="{% url 'ver_estado_pedido' pedido.id %}">
                    Ver detalle
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p>No tienes pedidos aún.</p>
    {% endif %}
    </div>
</div>
{% endblock %}