{% extends 'core/base.html' %}

{% block title %}Carrito de compras - Vive Sano{% endblock %}

{% block content %}
<div class="container">
<div class="container"></div>
    <a href="{% url 'mis_pedidos' %}" class="btn btn-secondary"

   style="
        display: inline-flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        color: #000000b3;
        font-weight: 600;
        margin-bottom: 1rem;
   ">
    ← Volver
    </a>

    <h2>Estado del Pedido #{{ pedido.id }}</h2>

    <p><strong>Fecha:</strong> {{ pedido.creado }}</p>
    <p><strong>Estado:</strong> {{ pedido.get_estado_display }}</p>
    <p><strong>Total pagado:</strong> ${{ pedido.total }}</p>

    <hr>
    <div class="container"></div>
        <h3>Productos</h3>


            <table class="cart-table">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                </tr>

                {% for item in items %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.precio_unitario }}</td>
                    <td>${{ item.subtotal }}</td>
                </tr>
                {% endfor %}
                <div style="margin-top:1rem; text-align:right;">
                    <a href="{% url 'cancelar_pedido' pedido.id %}" class="btn-primary btn-danger" 
                        onclick="return confirm('¿Estás seguro que quieres cancelar este pedido?');">
                        Cancelar
                    </a>

                </div>
                {% if pedido.estado == 'cancelado' %}
                <div>
                    <p style="color: red; font-weight: bold;" >
                    Este pedido ha sido cancelado.
                    </p>
                </div>
                <div style="margin-top:1rem; text-align:right;">
                        <div>
                            <a href="{% url 'solicitar_reembolso' pedido.id %}" class="btn-primary"
                            >Solicitar Reembolso</a>
                        </div>
                    </div>
                {% endif %}
            </table>
</div>            
{% endblock %}